@media (min-device-width: 320px) and (max-device-width: 480px) {
  body {
    font-family: helvetica;
    margin:      10px;
  }
}

@media only screen and (min-width: 500px){
  body {
    font-family: helvetica;
    margin:      10px;
    padding-top: 40px;
  }
}

form#post-form {
  margin-left: 30px;
}

ul {
  list-style: none;
  padding:    0;  
}

ul.posts {
}

ul.posts > li {
  padding-top:   10px;
  border-bottom: 1px gray solid;
}

ul.posts li > span.title {
  font-weight: bold;
  font-size:   18pt;
/*  display:     block;*/
  color:       red;
}

ul.posts li > span.content {
  font-style: italic;
  display:    block;
}

ul.comments { 
  margin:     10px;
  padding:    10px;
}

ul.comments > li {
  background: #dedede;
  margin:     2px 0px;
  padding:    10px;
}

div.comment-form {
  padding-left: 20px;
}